<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>温氏招标</title>
    <style type="text/css">
     	#title{text-align:center;font-family:隶书;font-size:24px;font-weight:bold;margin-top:20px;margin-bottom:30px}
      	#bt_attend{margin-top:50px;}
		ul, menu, dir {
			display: block;
			list-style-type: disc;
			-webkit-margin-before: 1em;
			-webkit-margin-after: 1em;
			-webkit-margin-start: 0px;
			-webkit-margin-end: 0px;
			-webkit-padding-start: 5px;
		}
    </style>
	<link rel="stylesheet" href="/ws_purchase_supplier/static/css/bootstrap.css">
</head>
<body>
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div id="title" align="center">{{data.provider.procurement_solution_id.name}}</div>
			<div style="background-color:#87CEFA" class="col-md-6 column">
				<span style="font-size:20px;margin-left:20px">距离本轮招标截止还剩:</span><br>
				<span style="font-size:20px;margin-left:20px" id="timer">  </span>
			</div>
			<div id="rules" class="list-group-item" style="font-size:20px">
			 	{{data.provider.procurement_solution_id.announcement}}
			</div>
			<input type="hidden" id="end_time" name="end_time" value="{{data.provider.end_time}}"/>
			<ul class="list-group" id="material_inquiry_{{data.provider.id}}">
				<li class="list-group-item">招标轮次:{{data.provider.name}}</li>
				{%for obj1 in data.provider.procurement_solution_id.demand_ids%}
					<li class="list-group-item">
					<ul >
					<li class="list-group-item">{{obj1.product_id.name}}</li>
					{%for iline in data.provider.line_ids%}
						{%if iline.supplier_id.id == data.suplierid %}
							<li class="list-group-item">交货地点:{{iline.trading_place_id.name}}</li>
							<li class="list-group-item">交货地报价:{{iline.out_price}}</li>
							<li class="list-group-item">运费:{{iline.tran_cost}}</li>
							<li class="list-group-item">我的到厂价:{{iline.in_price}}</li>
							<li class="list-group-item">可供数量:{{iline.amount}}({{iline.uom_id.name}})</li>
							<li class="list-group-item">应标时间:{{iline.inquiry_time}}</li>
							<li class="list-group-item"><a href="/ws/wx/provider_line?ilineid={{iline.id}}">修改应标</a></li>
						{%endif%}
					{% endfor %}
					{%for pline in data.place_lines %}
						<li class="list-group-item">
							<ul >
							<li class="list-group-item">交货地点:{{pline.trading_place_id.name}}</li>
							<li class="list-group-item"><a href="/ws/wx/provider_line?placeid={{pline.trading_place_id.id}}&providerid={{data.provider.id}}&materialid={{obj1.product_id.id}}&uomid={{obj1.uom_id.id}}">立即应标</a></li>
							</ul>
						</li>
					{% endfor %}
					</ul>
					</li>
				{% endfor %}
			</ul>
	 	 </div>
	</div>
</div>
</body>
</html>